<div id = "home">
    <div id="navbar">
        <div class="links" id="arrays">
            <p>Arrays</p>
        </div>
        <div class="links" id="linked-list">
            <p>Linked List</p>
        </div>
        <div class="links" id="sq">
            <p>Stacks & Queues</p>
        </div>
        <div class="links" id="ht">
        <p>HashTable</p>
            </div>
        <div class="links" id="trees">
            <p>Trees</p>
        </div>
        <div class="links" id="graphs">
            <p>Graphs</p>
        </div>
        <div class="links" id="sp">
            <p>Shortest Path</p>
        </div>
        <div class="links" id="mst">
            <p>Min. Spanning Tree</p>
        </div>
        <div class="links" id="mf">
            <p>Maximum Flow</p>
        </div>
    </div>
</div>