<div id = "home">
    <div id="navbar">
        <div class="links" id="arrays">
            <p>Arrays</p>
        </div>
        <div class="links" id="linked-list">
            <p>Linked List</p>
        </div>
        <div class="links" id="sq">
            <p>Stacks & Queues</p>
        </div>
        <div class="links" id="ht">
        <p>HashTable</p>
            </div>
        <div class="links" id="trees">
            <p>Trees</p>
        </div>
        <div class="links" id="graphs">
            <p>Graphs</p>
        </div>
        <div class="links" id="sp">
            <p>Shortest Path</p>
        </div>
        <div class="links" id="mst">
            <p>Min. Spanning Tree</p>
        </div>
        <div class="links" id="mf">
            <p>Maximum Flow</p>
        </div>
    </div>
    <div class="message">
        <p>
            Hello programmer, and welcome to the Data Structures and Algorithms Visualization web app! This application was designed to make the difficult topic of understanding data structures and algorithms easier,
             through detailed visualizations and explanations on each process shown. I have learned a lot through creating this project, and hope it can benefit viewers in the same way it benefited myself.
              To view a specific type of data structure or algorithm click on one of the tabs above.
        </p>
    </div>
</div>